*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 500px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.MainBox, #childBox2{
    display : flex;
    flex-direction : row;
    justify-content : center;
    align-items : center;
}
#childBox1{
    display: inline;
    border: 5px solid blue;
    background-color: white;
    padding: 13px 15px 13px 15px;
    border-radius:100%;
    position: relative;
    left: 35px;
}
#childBox2{
  gap: 15px;
  font-family:Arial, Helvetica, sans-serif;
   background-color: blue;
   padding: 15px 50px 15px 50px;
   border-radius: 17px;
   color: white;
}

#LikeButton{
    color: blue;
    font-size: 35px;
}
#LikeButton:hover{
    font-size: 40px;
}
#count{
    color: white;
    font-size: 17px;
    font-weight: bold;
}